body{

}

header {

  background: #fff87d;
  color: black;
  position: relative;


}

header:after {

  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 80%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-6deg);
  transform-origin: 100%;
  z-index: -1;

}

.abeille-menu{
  width: 5%;
  z-index: 1;
  float: right;
  margin-top: 0px;
}

.accueil{
  padding-top: 30px;
  float: right;
}

p{
  padding-top: 30px;
  padding: 120px;
  padding-bottom: 40px;
  margin-top: 0px;
  font-family: 'Cabin Sketch', cursive;
  font-size: 3.5em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.abeille{
  width: 20%;
  z-index: 1;
  margin-top: 100px;
  margin-left: 300px;
  margin-right: auto;
  align-items: center;
  margin-top: 200px;
  width: 200px;

}

h1{
  padding-top: 60px;
  margin-left: 600px;
  width: auto;
  font-family: 'Pompiere', cursive;
  font-size: 1.2em;
}

a{
  font-family: 'Pompiere', cursive;
  font-size: 2em;
}

.commencer{

  text-align: center;
  padding: 20px;
  width: 200px;
  background-color: #fff87d;
  border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
  margin-left: auto;
  margin-right: auto;
  color: black;
}


.commencer:hover{
  color: white;
  background-color: black;

}

video{
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 600px;
  width: auto;

}

footer{
  margin-left: 600px;
  width: auto;
}

.output {
    background: #eee;
    position: relative;
